body {
  background-color: blueviolet;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#roll-dice {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 180px;
  text-align: center;
  font-weight: bold;
}

#button-dice {
  justify-content: flex-end;
  align-items: end;
}
